<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Take a Product </h5>
        </div>


        <!-- <div class="card-body">
          <form [formGroup]="purchaseAddForm">
            <div class="mb-3">
              <label for="purchaseDate">Purchase Date</label>
              <div class="form-group">
                <input
                  type="date"
                  id="purchaseDate"
                  formControlName="purchaseDate"
                  class="form-control"
                  placeholder="Purchase Date">
              </div>
            </div>
          </form>
        </div>  -->

        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputMail">E Mail</label>
              <input type="email" class="form-control" id="inputMail" placeholder="Email address">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Np Jana Kochanowskiego XX">
          </div>
        <div class="form-group col-md-6">
          <label for="inputCity">Miasto</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputdom">Numer domu</label>
              <input type="number" class="form-control" id="inputdom">
            </div>
            <div class="form-group col-md-4">
              <label for="inputmieszkanie">Numer mieszkanie</label>
              <input type="number" class="form-control" id="inputmieszkanie">
            </div>
          </div> -->
        </form>

        <!-- <ul><hr class="dropdown-divider"></ul>
        <div class="col-12 d-flex justify-content-start">
          <button type="submit" class="btn btn-outline-success"  (click)="add()" >Zakończyć Zamówienie </button> 
        </div>   -->
        
        <!-- <ul><hr class="dropdown-divider"></ul>
        <div class="col-12 d-flex justify-content-start">
          <button type="submit" class="btn btn-outline-success"  (click)="isProductAvailable()" >Go for complete </button> 
        </div> -->

        <div class="card-footer">
          <button data-bs-dismiss="modal" (click)="isProductAvailable()" class="btn btn-fill btn-outline-success" >
            Go for complete
          </button>
        </div> 
      </div>
    </div>
  </div>

