<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Buy a Product </h5>
        </div>


        <!-- <div class="card-body">
          <form [formGroup]="purchaseAddForm">
            <div class="mb-3">
              <label for="purchaseDate">Purchase Date</label>
              <div class="form-group">
                <input
                  type="date"
                  id="purchaseDate"
                  formControlName="purchaseDate"
                  class="form-control"
                  placeholder="Purchase Date">
              </div>
            </div>
          </form>
        </div>  -->

        
        <div class="card-footer">
          <button data-bs-dismiss="modal" (click)="isProductAvailable()" class="btn btn-fill btn-outline-success" >
            Go for payment
          </button>
        </div>
      </div>
    </div>
  </div>

