<table class="table">
    <thead>
        <tr>
            <th>Nazwa Użytkownika</th>
            <th>Nazwisko Użytkownika</th>
            <th>Data zamówienia</th>
            <th>Nazwa Kategorii</th>
            <th>E-mail użytkownika </th>
        </tr>
    </thead>
  
    <tr *ngFor="let orderDetail of orderDetails">
        <td>{{orderDetail.userName}}</td>
        <td>{{orderDetail.userLastname}}</td>
        <td>{{orderDetail.orderDate}}</td>
        <td>{{orderDetail.categoryName}}</td>
        <td>{{orderDetail.email}}</td>
    </tr>
  </table>