<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>User Surname</th>
            <th>Order Date</th>
            <th>Category Name</th>
            <th>Customer E-Mail </th>
        </tr>
    </thead>
  
    <tr *ngFor="let orderDetail of orderDetails">
        <td>{{orderDetail.userName}}</td>
        <td>{{orderDetail.userLastname}}</td>
        <td>{{orderDetail.orderDate}}</td>
        <td>{{orderDetail.categoryName}}</td>
        <td>{{orderDetail.email}}</td>
    </tr>
  </table>