<div class="mb-3">
    <label for="filterText" class="form-label">Szukaj</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="szukaj zabawek">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
 {{filterText}} przeszukany
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Category Name</th>
            <th>Units In Stock </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | filterPipe:filterText" >
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.categoryName}}</td>
            <td>{{product.unitsInStock}}</td>
            <td><button (click)="addToCart(product)" type="button" class="btn btn-success">Dodaj do koszyka</button>
            </td>
        </tr>
    </tbody>    
</table> 

