<li  class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Twoj koszyk
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let cartItem of cartItems" ><a 
      class="dropdown-item">
      <span class="badge bg-primary">{{ cartItem.quantity }}</span>
      {{cartItem.product.productName}}  <span (click)="removeFromCart(cartItem.product)" class="badge bg-danger"> Usuń </span> </a></li>

      <li><hr class="dropdown-divider"></li>
    </ul>
  </li>