<table class="table">
    <thead>
        <tr>
            <th>Nazwa Użytkownika</th>
            <th>Nazwisko użytkownika</th>
            <th>Data zamówienia</th>
            <th>Nazwa Kategorii</th>
            <th>Adres pocztowy </th>
            <th>E-mail użytkownika </th>
        </tr>
    </thead>
  
    <tr *ngFor="let purchaseDetail of purchaseDetails">
        <td>{{purchaseDetail.customerName}}</td>
        <td>{{purchaseDetail.customerLastname}}</td>
        <td>{{purchaseDetail.purchaseDate}</td>
        <td>{{purchaseDetail.categoryName}}</td>
        <td>{{purchaseDetail.postAddress}}</td>
        <td>{{purchaseDetail.email}}</td>
    </tr>
  </table>