<div >
    <div id="productImagesSlider" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          [ngClass]="getActiveImageClass(productImage)"
          *ngFor="let productImage of productImages; let i = index"
          type="button"
          data-bs-target="#productImagesSlider"
          [attr.data-bs-slide-to]="i"
          aria-label="Slide 5"
        ></button>
      </div>
  
      <div class="carousel-inner border border-dark d-block w-100" >
        <div
          class="carousel-item"
          [ngClass]="getActiveImageClass(productImage)"
          *ngFor="let productImage of productImages"
        >
          <img  
            src="{{baseUrl}}{{productImage.imagePath}}"
            class="d-block w-100"
            alt="image.imagePath"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#productImagesSlider"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#productImagesSlider"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>